@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/StardewValley.ttf') format('truetype');
}

body {
    background: url('../assets/stardew-valley1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "CustomFont", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
}

.navbar-container {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 40px;
    background-color: #F8BA65;
    color: #C85124;
    border: #A9500D 3px solid;
    padding: 15px 100px;
    text-decoration: none;
    font-family: "CustomFont", sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    transition: background-color 0.8s ease;
}

nav a:hover {
    background-color: #EFAD51;
}

.profile-icon {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 70px;
}

.profile-icon img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #A9500D;
    cursor: pointer;
    transition: 0.5s ease;
}

.profile-icon img:hover{
    transform: scale(1.05);
}


.welcome-message {
    background-color: #F8BA65;
    border: 5px solid #A9500D;
    color: #C85124;
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 0px 30px;
    font-size: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

h1 {
    width: 70%;
    font-size: 5rem;
    font-weight: 500;
}