body {
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
}

h1 {
    font-size: 2rem;
    color: #D15456;
}

.profile-icon {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 70px;
}

.profile-icon img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #A9500D;
    cursor: pointer;
    transition: 0.5s ease;
}

.profile-icon img:hover{
    transform: scale(1.05);
}

#game-container {
    text-align: center;
    background-color: #F8BA65;
    border: 5px solid #A9500D;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
  }
  
  #fishing-area {
    position: relative;
    width: 50px; /* Lebar sama dengan bar */
    height: 300px;
    margin: 20px auto;
    background-color: #5abcd8;
    border: 4px solid #A9500D;
    border-radius: 10px;
    overflow: hidden;
  }
  
  #fish {
    position: absolute;
    width: 50px; /* Lebar ikan sama dengan fishing area */
    height: 20px;
    background-color: #F8BA65;
    border-radius: 5px;
  }
  
  #bar {
    position: absolute;
    width: 46px; /* Lebar bar sama dengan fishing area */
    height: 80px; /* Tinggi bar */
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #ffffff;
    border-radius: 5px;
  }
  
  #controls {
    margin-top: 20px;
  }
  
.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D87802;
    color: white;
    border: #A9500D 3px solid;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-family: "Pixelify Sans", sans-serif;
}
  
.btn:hover {
    background-color: #bf6900;
}

.back-btn {
    position: fixed;
    bottom: 50px;
    left: 80px;
    font-size: 1.5rem;
    background-color: #F8BA65;
    color: #D15456;
    border: #A9500D 4px solid;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
}

