body {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background: url('../assets/');
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
}