body {
    background: url('../assets/background-index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    margin-top: -70px;
}

.container {
    max-width: 1200px;
    text-align: center;
}

h1 {
    /* color: #F2AB27;  */
    color: #FFD921;
    text-align: center;
    font-size: 8rem;
}

.logo{
    width: 125px;
    height: auto;
    margin-left: 10px; /* Jarak antara teks dan logo */
    vertical-align: middle; /* Agar sejajar dengan teks */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-top: -20px;
}

.btn {
    font-size: 2rem;
    background-color: #F8BA65;
    color: #A9500D;
    border: #A9500D 3px solid;
    padding: 15px 50px;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: scale(0.95);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}


