body {
    background: url('../assets/background-index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
}

.logo{
    width: 55px;
    height: auto;
    margin-bottom: 40px; /* Jarak antara logo dan input */
}

.form-container {
    background-color: #FBD282;
    border: 5px solid #A9500D;
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 350px;
}

.form-group {
    display: flex;
    align-items: center;
    background-color: #F8BA65;
    border: 2px solid #7F3701;
    border-radius: 25px;
    padding: 10px 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.fullname {
    display: flex;
    gap: 13px;
}

#firstname, #lastname {
    width: 130px;
}

.buttons {
    display: flex;
    justify-content: center;
}

input {
    border: none;
    outline: none;
    background: none;
    font-size: 0.9rem;
    color: #612506;
    font-family: "Pixelify Sans", sans-serif;
    flex: 1;
}

select {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    font-size: 0.9rem;
    color: #C85124;
    font-family: "Pixelify Sans", sans-serif;
}

select option:disabled {
    font-style: italic;
}

input::placeholder {
    color: #C85124;
}

.icon {
    font-size: 1.2rem;
    margin-right: 15px;
}

.btn {
    font-size: 1.2rem;
    background-color: #D87802;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 15px 30px;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 30px;
}

.btn:hover {
    transform: scale(0.9);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
